## UASR configuration file
## - IZFP-D Gear Wheels Thale Database (Recording 1937)
## - HMM setup
##   Two classes (OK/UNK)
##   Feature fusion of sensors AH and BH
##
## USAGE:
##   XVL.xtp hmm [...]/hmm.cfg --> HMM cross validation
##   HMM.xtp trn [...]/hmm.cfg --> HMM training and assessment

uasr.db                   = "izfp/cwt1937";
uasr.exp                  = "FEAFUS";
uasr.db.include           = "../../../data/izfp/cwt1937/common/info/cwt1937.itp";

## Feature settings
uasr.fea.ext              = "dn3";
uasr.fea.savecompressed   = FALSE;
uasr.pfa                  = "lmag";
uasr.pfa.dim              = 256;
uasr.sfa                  = "pca,red";
uasr.sfa.dim              = 20;

## HMM/GMM settings
uasr.skip                 = "T";
uasr.flist.stat_t         = "stat.flst";
uasr.am.train             = "baum-welch";
uasr.am.train.split       = 2;
uasr.am.train.ite0        = 1;
uasr.am.train.ite1        = 2;
uasr.am.train.ite2        = 4;
uasr.am.model             = "0_0";

## Assessment and cross validation settings
uasr.am.eval.assess       = "loghist";
uasr.xvl.test             = 310;
#uasr.xvl.flist.stat       = "stat.flst";
#uasr.xvl.flist.stat_t     = "stat.flst";

## EOF
